body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Light mode */
body {
    background-color: white;
    color: black;
}

header {
    background-color: red;
    padding: 10px 0;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: red;
    position: fixed;
    width: 100%;
    bottom: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
    text-align: center;
}

.wiki-category {
    margin: 10px 0;
    cursor: pointer;
    font-weight: bold;
}

.wiki-category-content {
    display: none;
    margin: 10px 20px;
}

.wiki-category-content a {
    display: block;
    margin: 5px 0;
    color: blue;
    text-decoration: none;
}

.wiki-category-content a:hover {
    text-decoration: underline;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #121212;
        color: white;
    }

    header {
        background-color: darkred;
    }

    footer {
    text-align: center;
    padding: 10px;
    background-color: darkred;
    position: fixed;
    width: 100%;
    bottom: 0;
    }

    nav ul li a {
        color: white;
    }
}
