* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
    transition: background-color 0.3s, color 0.3s;
    background-color: var(--background-color);
    color: var(--text-color);
}

:root {
    --background-color: #ffffff; /* Hellmodus */
    --text-color: #000000; /* Hellmodus */
}

.dark-mode {
    --background-color: #121212; /* Dunkelmodus */
    --text-color: #ffffff; /* Dunkelmodus */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background: #007bff;
    color: white;
}

header .logo img {
    max-height: 80px; /* Höchstgrenze für die Höhe des Logos */
    width: auto;
    max-width: 100%;
}

nav {
    position: relative;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ffd700; /* Gold */
}

#menuToggle {
    display: none;
}

main {
    padding: 2rem;
    /* Hiermit fügen wir unten Platz hinzu, damit der Inhalt nicht mit dem Footer kollidiert */
    padding-bottom: 100px; /* Platz für den Footer */
}

footer {
    text-align: center;
    padding: 1rem;
    background: #007bff;
    color: white;
    /* Footer bleibt immer am unteren Rand des Bildschirms */
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

/* Responsive Menu */
@media (max-width: 768px) {
    nav ul {
        display: none;
        flex-direction: column;
    }

    nav ul.active {
        display: flex;
    }

    #menuToggle {
        display: block;
        background: none;
        border: none;
        color: white;
        font-size: 1.5rem;
        cursor: pointer;
    }
}
