html, body {
    height: 100%; /* Vollständige Höhe beibehalten */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: var(--background);
    color: var(--text);
    transition: background-color 0.5s ease, color 0.5s ease;
    text-align: center; /* Text auf der ganzen Seite zentrieren */
    min-height: 100vh; /* Mindesthöhe auf volle Ansichtshöhe setzen */
}

main {
    flex: 1; /* Nimmt den verbleibenden Platz zwischen Header und Footer ein */
    display: flex;
    justify-content: center; /* Horizontal zentrieren */
    align-items: center; /* Vertikal zentrieren */
    padding: 20px;
    box-sizing: border-box;
    text-align: center; /* Text im main-Container zentrieren */
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: var(--footer-background);
    color: var(--footer-text);
    transition: background-color 0.5s ease, color 0.5s ease;
    position: relative; /* Stelle sicher, dass der Footer unten bleibt */
    width: 100%;
    margin-top: auto; /* Ermöglicht dem Footer, am Ende des flex-Containers zu bleiben */
}
